{% extends 'base.html'%}

{% block content %}
<div class="container"  style="background-color: f0f0f0; border-radius: 8px;" >
    <div class="row">

      <div class="col-md-6 m-auto">
 <a href="{{url_for('apigames')}}" class="btn btn-danger">Voltar para todos os jogos</a>
        <div class="card" style="width: 16rem;">
           <img src="{{gameInfo.thumbnail}}">
           <div class="card">
                <h3>{{gameInfo.title}}</h3>
           <h3>{{gameInfo.genre}}</h3>
           <h3>{{gameInfo.short_description}}</h3>
           <h3>{{gameInfo.plataform}}</h3>
           <h3>{{gameInfo.publisher}}</h3>
              <a href="{{gameInfo.freetogame_profile_url}}" class="btn btn-dark">+ Info</a>
           </div>
        </div>
      </div>
  
    </div>
</div>
{% endblock content %}