{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de games</title>
</head>
<body>
    <h2>Cadastro de games</h2>
    <hr>
    <form action="{{url_for('cadgames')}}" method="POST" >
         <label>Titulo:</label>
         <Input type="text" name="titulo" required><br><br>
         <label>Ano:</label>
         <Input type="text" name="ano" required><br><br>
         <label>Categoria:</label>
         <Input type="text" name="categoria" required><BR><BR>
            <input type="submit" value="cadastart"><BR>
    </form>
    <br>
    <hr>
    <h4>Consoles cadastrados</h4>
    {% for game in gamelist %}
    Titulo: <strong>{{game.titulo}}</strong><br>
    Ano: <strong>{{game.ano}}</strong><br>
    Categoria: <strong>{{game.categoria}}</strong><br><br>
    {% endfor %}
</body>
</html>
{% endblock %}